.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 20px;
  gap: 20px;
}

button {
  font-weight: 500;
  width: fit-content;
  max-width: 200px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  color: #000;
  border: none;
  background-color: #fff;
}

button:hover {
  color: #808080;
}


